/* InstructionsCard.css */

.instructions-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.frame-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-title {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #333;
  }
  
  .steps-list {
    list-style-type: decimal;
    padding-left: 20px;
  }
  
  .step-item {
    margin-bottom: 10px;
    color: #555;
  }

  .iframe-frame{
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  