.app-background {
    background-color: #fafafa;
    height: 100vh;
}
.home-button-main{
    transition-duration: 0s;
    color: #ffffff;
    background-color: transparent;
    font-size: 24px;
    font-weight: 800;
    max-width: 14% !important;
}


.profile-photo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}


.profile-photo-div {
    height: 50px;

    margin-right: 100px;
    width: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.profphoto{
    background-color: transparent !important;
    padding: 0;
    transition: transform 0.2s, background-color 0.2s;
}

.profphoto:hover{
    transform: scale(0.9); 
    background-color: none !important;
}

.user-info {
    align-items: center;
    color: black;
    text-align: center;
    margin-top: 10vh;
}

.dropdown-menu {
    height: auto ;
    width: auto;
    padding: 30px;
    padding-top: 5px ;
    background-color: black ;
    border-radius: 20px;
    position: absolute;
    right: 40px;
    top: 80px;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    font-size: medium;
    text-align: center !important;
}

.menu-item {
    background-color: transparent !important;
    align-items: center;
    padding:0%;
    transition: transform 0.2s, background-color 0.2s;
}
.menu-item:hover{
    transform: scale(0.9); 
    background-color: none !important;
}

.profile-left {
    width: 30vw;
    height: 100%;
    padding-top: 20vh;
    padding-left: 20vh;
}

.profile-photo-main {
    border-radius: 50%;
    height: 30vh;
    image-rendering: auto;
}

.uploader
{
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.uploader-main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uploader-button
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.uploader-submit
{
    color:#73797e !important;
    font-weight: 700;
    margin-top: 5%;
  align-items: center;
  appearance: none;
  background-color: #d4d4f2;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.uploader-submit:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
 }

.uploader-placeholder
{
    height: 200px;
    width: 400px;
    color: #858585;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    background-color: transparent;
    border: 2px dashed #858585;
    
    transition-duration: 0.2s;
}
.uploader-placeholder:hover
{
    scale: 110%;
    height: 200px;
    width: 400px;
    color: #000000;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    background-color: transparent;
    border: 2px dashed #070707;
    transition-duration: 0.2s;
}

.uploader-details
{
    color: #858585;
    text-align: center;
}

.spacing
{
    padding-top: 10vh;
}
.loader {
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg); }
  }

  ::selection {
    background: transparent;
    border: 1px solid;
  }

  .page-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .instructions {
    flex: 1;
    margin-right: 20px;
  }
  
  .uploader-container {
    flex: 1;
  }