.app-background {
    background-color: #e6f7f7;
    height: 100vh;
}


/* .main-signout-button
{
    font-size: large;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: red;
} */
/* .main-signin-button {
    background-color: white;
    margin-right: 100px;
    font-size: large;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(155, 155, 164);
} */

.profile-photo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}


.profile-photo-div {
    height: 50px;

    margin-right: 100px;
    width: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.user-info {
    align-items: center;
    color: black;
    text-align: center;
    margin-top: 10vh;
}

.dropdown-menu {
    height: 200px;
    width: auto;
    padding: 30px;
    padding-top: 5px;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    right: 40px;
    top: 80px;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    font-size: medium;
    text-align: center;
}



.profile-left {
    width: 30vw;
    height: 100%;
    padding-top: 20vh;
    padding-left: 20vh;
}

.profile-photo-main {
    border-radius: 50%;
    height: 30vh;
    image-rendering: auto;
}

.uploader
{
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.uploader-main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uploader-button
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.uploader-submit
{
    height: 50px;
    width: 100px;
    border-radius: 20px;
    color: white;
    background-color: rgba(2, 39, 252, 0.747);
}

.uploader-placeholder
{
    height: 200px;
    width: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    background-color: transparent;
    border: 2px dashed #000000;
}

.spacing
{
    padding-top: 10vh;
}
.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }